services:
  backend:
    build:
      context: ./FlowMint-backend-nestjs
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    command: sh -c "npx prisma migrate deploy && node dist/main"
    networks:
      - app-network

  frontend:
    build:
      context: ./FlowMint-frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./FlowMint-frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - app-network

  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: flowmint
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  adminer:
    image: adminer
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_DB_HOST: postgres
      ADMINER_DEFAULT_DB_NAME: flowmint
      ADMINER_DESIGN: pepa-linha
    depends_on:
      - postgres
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge